.footerUpper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footerUpperInner {
  display: flex;
  gap: 40px;
}

.footerUpper .left h3 {
  margin-bottom: 25px;
}

.left p {
  color: gray;
}

.boxes p {
  font-weight: 700;
  font-size: 15px;
}

.boxes ul {
  margin-top: 25px;
}

.boxes ul li {
  list-style: none;
  padding: 5px 10px;
}

.right input {
  margin-top: 25px;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}

.right button {
  outline: none;
  border: none;
  background-color: white;
  border-bottom: 2px solid black;
  margin-left: 10px;
}

.footerBottom {
  border-top: 1px solid rgb(212, 208, 208);
  margin-top: 20px;
  padding-top: 20px;
}

@media (max-width: 600px) {
  .footerUpper {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    gap: 20px;
  }
}
